<div class="plg_aui_header header-style1">
  <div class="aui_topbar pc clearfix">
    <p class="copy">{{ Config.site_description }}</p>
    <!-- ▼ログイン -->
    {% if is_granted('ROLE_USER') %}
    <div id="member" class="member drawer_block pc">
      <ul class="member_link">
        <li>
          <a href="{{ url('mypage') }}">マイページ</a>
        </li>
        {% if BaseInfo.option_favorite_product == 1 %}
        <li><a href="{{ url('mypage_favorite') }}">お気に入り</a></li>
        {% endif %}
        <li>
          <a href="{{ url('logout') }}">ログアウト</a>
        </li>
      </ul>
    </div>
    {% else %}
    <div id="member" class="member drawer_block pc">
      <ul class="member_link">
        <li>
          <a href="{{ url('entry') }}">新規会員登録</a>
        </li>
        {% if BaseInfo.option_favorite_product == 1 %}
        <li><a href="{{ url('mypage_favorite') }}">お気に入り</a></li>
        {% endif %}
        <li>
          <a href="{{ url('mypage_login') }}">ログイン</a>
        </li>
      </ul>
    </div>
    {% endif %}
    <!-- ▲ログイン -->
  </div>
  <!-- /aui_topbar -->

  <div class="aui_header_body clearfix">
    <!-- ▼ロゴ -->
    <div class="header_logo_area">
      <h1 class="header_logo">
        <a href="{{ url('homepage') }}">
          {% if Config.logo_img %}
            <img src="/html/template/ancharme/img/top/footer_logo.svg" alt="{{ BaseInfo.shop_name }}" class="img-responsive" />
          {% else %}
            {{ BaseInfo.shop_name }}
          {% endif %}
        </a>
      </h1>
    </div>

    <!-- ▲ロゴ -->
    <!-- ▼商品検索 -->
    
    <!-- ▲商品検索 -->
    <!-- ▼カゴの中 -->
    <div id="cart_area">
      <p class="clearfix cart-trigger"><a href="#cart">
        <svg class="cb cb-shopping-cart">
          <use xlink:href="#cb-shopping-cart"/>
        </svg>
        <span class="badge">{{ Cart.total_quantity }}</span>
        <svg class="cb cb-close">
          <use xlink:href="#cb-close"/>
        </svg>
      </a>
      <span class="cart_price pc">合計 <span class="price">{{ Cart.total_price|price }}</span></span></p>
      <div id="cart" class="cart">
        <div class="inner">
          {% for error in app.session.flashbag.get('eccube.front.cart.error')  %}
          <div class="message">
            <p class="errormsg bg-danger">
              <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>{{ error|trans|nl2br }}
            </p>
          </div>
          {% endfor %}
          {% for CartItem in Cart.CartItems %}
          {% set ProductClass = CartItem.Object %}
          {% set Product = ProductClass.Product %}
          <div class="item_box clearfix">
            <div class="item_photo"><img
              src="{{ app.config.image_save_urlpath }}/{{ Product.MainListImage|no_image_product }}"
              alt="{{ Product.name }}">
            </div>
            <dl class="item_detail">
              <dt class="item_name">{{ Product.name }}</dt>
              <dd class="item_pattern small">
                {%- if ProductClass.ClassCategory1 -%}
                {{ ProductClass.ClassCategory1.ClassName }}：{{ ProductClass.ClassCategory1 }}
                {%- if ProductClass.ClassCategory2 -%}
                <br>{{ ProductClass.ClassCategory2.ClassName }}：{{ ProductClass.ClassCategory2 }}
                {%- endif -%}
                {%- endif -%}
              </dd>
              <dd class="item_price">{{ CartItem.price|price }}<span class="small">税込</span></dd>
              <dd class="item_quantity form-group form-inline">数量：{{ CartItem.quantity }}</dd>
            </dl>
          </div><!--/item_box-->
          {% endfor %}
          <p class="cart_price sp">合計 <span class="price">{{ Cart.total_price|price }}</span></p>
          {% if Cart.CartItems|length > 0 %}

          <div class="btn_area">
            <ul>
              <li>
                <a href="{{ url('cart') }}" class="btn btn-primary">カートへ進む</a>
              </li>
              <li>
                <button type="button" class="btn btn-default btn-sm cart-trigger">キャンセル</button>
              </li>
            </ul>
          </div>
          {% else %}
          <div class="btn_area">
            <div class="message">
              <p class="errormsg bg-danger" style="margin-bottom: 20px;">
                現在カート内に<br>商品はございません。
              </p>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- ▲カゴの中 -->
  </div>
  <!-- /aui_header -->
</div>