{#
* Plugin Name : CheckedItem
*
* Copyright (C) 2015 BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

<!--最近チェックした商品-->
{% if checkedItems %}
<style>
#checkeditem .heading{
  {# background: #f8f8f8;
  padding: 16px; #}
  padding: 0 8px;
}
#checkeditem .heading01 {
  background: transparent;
  float:left;
  font-size: 100%;
  text-align: left;
  padding: 0;
  margin: 0;
  line-height: 39px;
}
#checkeditem .heading02 {
  background: transparent;
  font-size: 60%;
  text-align: right;
  padding: 0;
  margin: 0;
}

#checkeditem #checkeditem_list .pickup_item{
  margin-bottom: 20px;
}
</style>

<div id="checkeditem" class="item_gallery">
  {% if delete == 0 %}
    <h2 class="heading">
      <p class="heading01">最近チェックした商品</p>

      <p class="heading02">
        <a href="{{ url('block_checkeditem_delete')}}" class="btn btn-info btn-sm">履歴を削除</a>
      </p>
    </h2>
  {% else %}
    <h2 class="heading">最近チェックした商品</h2>
  {% endif %}
    <div class="row" id="checkeditem_list">
      {% for checkedItem in checkedItems|slice(0,displayNum)  %}
        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="{{ url('product_detail', {'id': checkedItem.id}) }}">
                    <div class="item_photo"><img src="{{ app.config.image_save_urlpath }}/{{ checkedItem.main_list_image|no_image_product }}"></div>
                    <dl>
                      <dt class="item_name">{{checkedItem.name}}</dt>
                      <dd class="item_price">
                      {% if checkedItem.hasProductClass -%}
                          {% if checkedItem.getPrice02Min == checkedItem.getPrice02Max %}
                          <p class="normal_price"><span class="price01_default">{{ checkedItem.getPrice02IncTaxMin|price }}</span></p>
                          {% elseif checkedItem.getPrice02Min is not null and checkedItem.getPrice02Max is not null %}
                          <p class="normal_price"><span class="price01_default">{{ checkedItem.getPrice02IncTaxMin|price }}</span> ～ <span class="price01_default">{{ checkedItem.getPrice02IncTaxMax|price }}</span></p>
                          {% endif %}
                      {% else -%}
                          {% if checkedItem.getPrice02Max is not null %}
                          <p class="normal_price"><span class="price01_default">{{ checkedItem.getPrice02IncTaxMin|price }}</span></p>
                          {% endif %}
                      {% endif -%}
                      </dd>
                    </dl>
                </a>
            </div>
          </div>
      {% endfor %}
    </div>

</div>
{% endif %}