<!-- pickUp -->
<div id="pickup" class="template blockLayout original">
    <div class="contaner">
        <div class="title_block">
            <h2 class="title">PICKUP</h2>
        </div>
        <div class="itemList_block">
            <div class="itemList_list pickup_slider">
                {% for Product in Products %}
                <div class="item_block">
                    <div class="item_wrapp">
                        <a class="item_link" class="itemList_contents_link" href="{{ url('product_detail', {'id': Product.id})
                            }}">
                            <img class="item_image" src="{{
                                app.config.image_save_urlpath }}/{{
                                Product.main_list_image|no_image_product }}">
                        </a>
                    </div>
                    <div class="detail_block">
                        <h3 class="title">
                            <a class="text_link" href="{{ url('product_detail',
                                {'id': Product.id}) }}">
                                {{ Product.name }}
                            </a>
                        </h3>
                        <p class="price_text">{{
                            Product.getPrice02IncTaxMin|price
                            }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- /pickUp -->