<!-- tmp_headerNavi -->
<div id="headerNavi" class="template">
	<div class="container">
		<div class="list-block">
			<nav class="navigaiton">
				<ul id="navigation-list" class="list">
					<li class="list-item" data-pagename='front_page'>
						<a class="link" href="{{ url('homepage') }}">
							<figure><img src="{{ app.config.front_urlpath }}/img/icon/home-white.svg" class="icon"></figure>
							<figcaption>TOP</figcaption>
						</a>
					</li>
					<li class="list-item" data-pagename='list'>
						<a class="link" href="https://ancharme.jp/products/list">
							<figure><img src="{{ app.config.front_urlpath }}/img/icon/new-white.svg" class="icon"></figure>
							<figcaption>新作</figcaption>
						</a>
					</li>
					<li class="list-item" data-pagename='pv-page'>
						<a class="link" href="https://ancharme.jp/pv">
							<figure><img src="{{ app.config.front_urlpath }}/img/icon/pv-white.svg" class="icon"></figure>
							<figcaption>PV</figcaption>
						</a>
					</li>
					<li class="list-item" data-pagename='article'>
						<a class="link" href="https://ancharme.jp/article">
							<figure><img src="{{ app.config.front_urlpath }}/img/icon/information-white.svg" class="icon"></figure>
							<figcaption>記事ページ</figcaption>
						</a>
					</li>
					<li class="list-item" data-pagename='influencer'>
						<a class="link" href="https://ancharme.jp/influencer">
							<figure><img src="{{ app.config.front_urlpath }}/img/icon/pd-white.svg" class="icon"></figure>
							<figcaption>プロデューサー</figcaption>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
<!-- /tmp_headerNavi -->