<!-- itemCategory_b -->
<div id="itemCategory_b" class="template blockLayout">
	<div class="contaner">
		<div class="title_block">
			<h2 class="title">
				<span class="text">CATEGORY</span>
			</h2>
		</div>
		<div class="list_block">
			<ul class="list">

				<li class="list_item">
					<a class="list_item_link" href="https://ancharme.jp/products/list">
						<div class="image_detail">
							<div class="image_block">
								<img class="list_item_image" src="{{ app.config.front_urlpath }}/img/icon/category_all.svg" alt="PANTS">
							</div>
							<div class="text_block">
								<p class="text">ALL</p>
							</div>
						</div>
					</a>
				</li>
				<li class="list_item">
					<a class="list_item_link" href="https://ancharme.jp/listTops">
						<div class="image_detail">
							<div class="image_block">
								<img class="list_item_image" src="{{ app.config.front_urlpath }}/img/icon/category_tops.svg" alt="TOPS">
							</div>
							<div class="text_block">
								<p class="text">TOPS</p>
							</div>
						</div>
					</a>
				</li>
				<li class="list_item">
					<a class="list_item_link" href="https://ancharme.jp/listOuter">
						<div class="image_detail">
							<div class="image_block">
								<img class="list_item_image" src="{{ app.config.front_urlpath }}/img/icon/category_outer.svg" alt="OUTER">
							</div>
							<div class="text_block">
								<p class="text">OUTER</p>
							</div>
						</div>
					</a>
				</li>
				<li class="list_item">
					<a class="list_item_link" href="https://ancharme.jp/listBottoms">
						<div class="image_detail">
							<div class="image_block">
								<img class="list_item_image" src="{{ app.config.front_urlpath }}/img/icon/category_bottoms.svg" alt="BOTTOM">
							</div>
							<div class="text_block">
								<p class="text">BOTTOM</p>
							</div>
						</div>
					</a>
				</li>
				<li class="list_item">
					<a class="list_item_link" href="https://ancharme.jp/listDress">
						<div class="image_detail">
							<div class="image_block">
								<img class="list_item_image" src="{{ app.config.front_urlpath }}/img/icon/category_dress.svg" alt="DRESS">
							</div>
							<div class="text_block">
								<p class="text">DRESS</p>
							</div>
						</div>
					</a>
                </li>
                <li class="list_item">
					<a class="list_item_link" href="https://ancharme.jp/listSetup">
						<div class="image_detail">
							<div class="image_block">
								<img class="list_item_image" src="{{ app.config.front_urlpath }}/img/icon/category_setup.svg" alt="SETUP">
							</div>
							<div class="text_block">
								<p class="text">SET UP</p>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- / itemCategory_b -->