<!-- coordinate -->
<div id="coordinate" class="template blockLayout">
	<div class="section_container">

		<div class="list_block">
			<ul class="list">
                <li class="list_item">
					<a class="link" href="https://ancharme.jp/articles03_06">
						<div class="news_item_block">
							<div class="image_block">
                                <img src="{{ app.config.front_urlpath }}/img/banner/blog03_06.png" alt="">
							</div>
							<div class="detail_block">
								<div class="label_new">
									<span class="text">NEW</span>
								</div>
								<div class="date">
									<span class="text">2020.3.06</span>
								</div>
								<div class="title_block">
									<h3 class="title">気温別おすすめコーデ</h3>
								</div>
							</div>
						</div>
					</a>
                </li>
                <li class="list_item">
					<a class="link" href="https://ancharme.jp/articles02_28">
						<div class="news_item_block">
							<div class="image_block">
								<img src="{{ app.config.front_urlpath }}/img/banner/blog02_28.png" alt="">
							</div>
							<div class="detail_block">
								<div class="label_new">
								</div>
								<div class="date">
									<span class="text">2020.2.28</span>
								</div>
								<div class="title_block">
									<h3 class="title">カフェ映えコーデ</h3>
								</div>
							</div>
						</div>
					</a>
                </li>
                
                <li class="list_item">
					<a class="link" href="https://ancharme.jp/articles02_21">
						<div class="news_item_block">
							<div class="image_block">
								<img src="{{ app.config.front_urlpath }}/img/banner/blog02_21.png" alt="">
							</div>
							<div class="detail_block">
								<div class="label_new">
								</div>
								<div class="date">
									<span class="text">2020.2.21</span>
								</div>
								<div class="title_block">
									<h3 class="title">Disneyバウンドコーデ</h3>
								</div>
							</div>
						</div>
					</a>
                </li>
                
				<li class="list_item">
					<a class="link" href="https://ancharme.jp/articles02_14">
						<div class="news_item_block">
							<div class="image_block">
								<img src="{{ app.config.front_urlpath }}/img/article/20200214/article_20200214_1.jpg" alt="">
							</div>
							<div class="detail_block">
								<div class="label_new">
								</div>
								<div class="date">
									<span class="text">2020.2.14</span>
								</div>
								<div class="title_block">
									<h3 class="title">Valentine's coordinate</h3>
								</div>
							</div>
						</div>
					</a>
				</li>
				<li class="list_item">
					<a class="link" href="https://ancharme.jp/articles01_05">
						<div class="news_item_block">
							<div class="image_block">
								<img src="{{ app.config.front_urlpath }}/img/article/article01_05(5).jpg" alt="">
							</div>
							<div class="detail_block">
							
								<div class="date">
									<span class="text">2020.01.05</span>
								</div>
								<div class="title_block">
									<h3 class="title">ワントーンカラーコーデ</h3>
								</div>
							</div>
						</div>
					</a>
				</li>
				<li class="list_item">
					<a class="link" href="https://ancharme.jp/articles12_24">
						<div class="news_item_block">
							<div class="image_block">
								<img src="{{ app.config.front_urlpath }}/img/article/article12_24(7).jpg" alt="">
							</div>
							<div class="detail_block">
								<div class="date">
									<span class="text">2019.12.24</span>
								</div>
								<div class="title_block">
									<h3 class="title">冬のセットアップコーデ</h3>
								</div>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- coordinate -->