<div class="topCategory-wrapp item-category">
  <div class="title-wrapp">
<p class="contents-title font_a">ITEM-CATEGORY</p>
  </div>
  <div id="original-category" class="original-category-item-list-block">
    <div class="contents-list-wrapp">
      <ul class="contents-list">
        <li class="contents-list-item">
          <a href="https://ancharme.jp/listTops" class="contents-list-item-link">
   <img src="{{ app.config.front_urlpath }}/img/contents/category/category_tops.jpg" alt="outer" class="contents-list-item-iamge">
          </a>
        </li>
        <li class="contents-list-item">
          <a href="https://ancharme.jp/listOuter" class="contents-list-item-link">
            <img src="{{ app.config.front_urlpath }}/img/contents/category/category_outer.jpg" alt="tops" class="contents-list-item-iamge">
          </a>
        </li>
        <li class="contents-list-item">
          <a href="https://ancharme.jp/listBottoms" class="contents-list-item-link">
            <img src="{{ app.config.front_urlpath }}/img/contents/category/category_bottoms.jpg" alt="all item" class="contents-list-item-iamge">
          </a>
        </li>
        <li class="contents-list-item">
          <a href="https://ancharme.jp/listDress" class="contents-list-item-link">
            <img src="{{ app.config.front_urlpath }}/img/contents/category/category_dress.jpg" alt="shoes" class="contents-list-item-iamge">
          </a>
        </li>
        <li class="contents-list-item">
          <a href="https://ancharme.jp/products/list" class="contents-list-item-link">
            <img src="{{ app.config.front_urlpath }}/img/contents/category/category_item.jpg" alt="bag" class="contents-list-item-iamge">
          </a>
<!--        </li>
        <li class="contents-list-item">
          <a href="https://7mm.jp/user_data/listOuter" class="contents-list-item-link">
            <img src="{{ app.config.front_urlpath }}/img/contents/category/category_outer.png" alt="outer" class="contents-list-item-iamge">
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</div>