<div class="topCategory-wrapp gallery">
  <div class="title-wrapp">
    <h2 class="contents-title">GALLERY</h2>
  </div>
  <div id="original-category" class="original-category-item-list-block">
    <div class="item-list-wrapp">
      <ul class="gallery-container-list">
        <li class="gallery-container-list-item">
          <a href="{{ app.config.front_urlpath }}/img/top/gallery/gallery01.png">
            <img src="{{ app.config.front_urlpath }}/img/top/gallery/gallery01.png">
          </a>
        </li>
        <li class="gallery-container-list-item">
          <a href="{{ app.config.front_urlpath }}/img/top/gallery/gallery02.png">
            <img src="{{ app.config.front_urlpath }}/img/top/gallery/gallery02.png">
          </a>
        </li>
        <li class="gallery-container-list-item">
          <a href="{{ app.config.front_urlpath }}/img/top/gallery/gallery03.png">
            <img src="{{ app.config.front_urlpath }}/img/top/gallery/gallery03.png">
          </a>
        </li>
        <li class="gallery-container-list-item">
          <a href="{{ app.config.front_urlpath }}/img/top/gallery/gallery04.png">
            <img src="{{ app.config.front_urlpath }}/img/top/gallery/gallery04.png">
          </a>
        </li>
      </ul>

    </div>
  </div>
  <p class="viewMore"><a href="https://7mm.jp/user_data/gallery"><img src="{{ app.config.front_urlpath }}/img/common/more.png" alt="more"></a></p>
</div>