<div class="topCategory-wrapp ranking">
  <div class="title-wrapp">
    <h2 class="contents-title">RANKING</h2>
  </div>
  <div id="original-category" class="original-category-item-list-block">
    <div class="item-list-wrapp">
      <div class="item-list-contents">
        <div class="item-list-contents-image">
          <a href="#">
            <img src="{{ app.config.front_urlpath }}/img/top/ranking/ranking01.jpg">
          </a>
        </div>
        <h3 class="item-list-contents-name">
          <a href="#">
            商品名
          </a>
        </h3>
        <p class="price-text">¥3,000</p>
      </div>
      <div class="item-list-contents">
        <div class="item-list-contents-image">
          <a href="#">
            <img src="{{ app.config.front_urlpath }}/img/top/ranking/ranking01.jpg">
          </a>
        </div>
        <h3 class="item-list-contents-name">
          <a href="#">
            商品名
          </a>
        </h3>
        <p class="price-text">¥3,000</p>
      </div>
      <div class="item-list-contents">
        <div class="item-list-contents-image">
          <a href="#">
            <img src="{{ app.config.front_urlpath }}/img/top/ranking/ranking01.jpg">
          </a>
        </div>
        <h3 class="item-list-contents-name">
          <a href="#">
            商品名
          </a>
        </h3>
        <p class="price-text">¥3,000</p>
      </div>
      <div class="item-list-contents">
        <div class="item-list-contents-image">
          <a href="#">
            <img src="{{ app.config.front_urlpath }}/img/top/ranking/ranking01.jpg">
          </a>
        </div>
        <h3 class="item-list-contents-name">
          <a href="#">
            商品名
          </a>
        </h3>
        <p class="price-text">¥3,000</p>
      </div>
    </div>
  </div>
  <p class="viewMore"><a href="#"><img src="{{ app.config.front_urlpath }}/img/common/more.png" alt="more"></a></p>
</div>