{#
    This file is part of EC-CUBE
    
    Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
    
    http://www.lockon.co.jp/
    
    This program is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation; either version 2
    of the License, or (at your option) any later version.
    
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
    #}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_page article' %}

{% block javascript %}
	<script>
		// 並び順を変更
function fnChangeOrderBy(orderby) {
eccube.setValue('orderby', orderby);
eccube.setValue('pageno', 1);
eccube.submitForm();
}

// 表示件数を変更
function fnChangeDispNumber(dispNumber) {
eccube.setValue('disp_number', dispNumber);
eccube.setValue('pageno', 1);
eccube.submitForm();
}
// 商品表示BOXの高さを揃える
$(window).load(function () {
$('.product_item').matchHeight();
});
	</script>
{% endblock %}


{% block main %}
	<!-- ▼topicpath▼ -->
	<div id="topicpath" class="row">
		<div class="article-container article-20200228">
			<div class="article-block">
				<div class="article-contents">
                    <img class="article-image" src="{{ app.config.front_urlpath }}/img/article/20200306/article_20200306_01.png" alt="ancharme">
                    <img class="article-image" src="{{ app.config.front_urlpath }}/img/article/20200306/article_20200306_02.png" alt="ancharme">
                    <a class="link" href="https://ancharme.jp/products/detail/271">
                        <img class="article-image" src="{{ app.config.front_urlpath }}/img/article/20200306/article_20200306_03.png" alt="ancharme">
                    </a>

                    
                    <a class="link" href="https://ancharme.jp/products/detail/18">
                        <img class="article-image" src="{{ app.config.front_urlpath }}/img/article/20200306/article_20200306_04.png" alt="ancharme">
                    </a>
                    
                    <a class="link" href="https://ancharme.jp/products/detail/268">
                        <img class="article-image" src="{{ app.config.front_urlpath }}/img/article/20200306/article_20200306_05.png" alt="ancharme">
                    </a>

                    <a class="link" href="https://ancharme.jp/products/detail/204">
                        <img class="article-image" src="{{ app.config.front_urlpath }}/img/article/20200306/article_20200306_06.png" alt="ancharme">
                    </a>

                    <a class="link" href="https://ancharme.jp/products/detail/270">
                        <img class="article-image" src="{{ app.config.front_urlpath }}/img/article/20200306/article_20200306_07.png" alt="ancharme">
                    </a>

                    <img class="article-image" src="{{ app.config.front_urlpath }}/img/article/20200306/article_20200306_08.png" alt="ancharme">

                    <a class="link" href="https://ancharme.jp/products/detail/267">
                        <img class="article-image" src="{{ app.config.front_urlpath }}/img/article/20200306/article_20200306_09.png" alt="ancharme">
                    </a>

                    <a class="link" href="https://ancharme.jp/products/detail/106">
                        <img class="article-image" src="{{ app.config.front_urlpath }}/img/article/20200306/article_20200306_10.png" alt="ancharme">
                    </a>

                    <a class="link" href="https://ancharme.jp/products/detail/17">
                        <img class="article-image" src="{{ app.config.front_urlpath }}/img/article/20200306/article_20200306_11.png" alt="ancharme">
                    </a>

                    <a class="link" href="https://ancharme.jp/products/detail/262">
                        <img class="article-image" src="{{ app.config.front_urlpath }}/img/article/20200306/article_20200306_12.png" alt="ancharme">
                    </a>

                    <a class="link" href="https://ancharme.jp/products/detail/267">
                        <img class="article-image" src="{{ app.config.front_urlpath }}/img/article/20200306/article_20200306_13.png" alt="ancharme">
                    </a>
                    <img class="article-image" src="{{ app.config.front_urlpath }}/img/article/20200306/article_20200306_14.png" alt="ancharme">

				</div>
				
			</div>
		</div>
	</div>
	<!-- ▲topicpath▲ -->
{% endblock %}