{#
    This file is part of EC-CUBE
    
    Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
    
    http://www.lockon.co.jp/
    
    This program is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation; either version 2
    of the License, or (at your option) any later version.
    
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
    #}
    {% extends 'default_frame.twig' %}
    
    {% set body_class = 'product_page' %}
    
    {% block javascript %}
        <script>
            // 並び順を変更
            function fnChangeOrderBy(orderby) {
                eccube.setValue('orderby', orderby);
                eccube.setValue('pageno', 1);
                eccube.submitForm();
            }
    
            // 表示件数を変更
            function fnChangeDispNumber(dispNumber) {
                eccube.setValue('disp_number', dispNumber);
                eccube.setValue('pageno', 1);
                eccube.submitForm();
            }
            // 商品表示BOXの高さを揃える
            $(window).load(function() {
                $('.product_item').matchHeight();
            });
        </script>
    {% endblock %}
    
    {% block main %}
        <!-- ▼topicpath▼ -->
        <div id="topicpath" class="row">
          <div id="item-list" class="page-vision">
    <div class="caution">
    <div class="footer_logo_area">

                <img src="{{ app.config.front_urlpath }}/img/article/article12_17(1).jpg" alt="ancharme">

              <a href="https://ancharme.jp/products/detail/86" onclick="gtag('event', 'click', {'event_category': 'article_86','event_label': 'article'});">
                <img src="{{ app.config.front_urlpath }}/img/article/article12_17(2).jpg" alt="ancharme">
              </a>


                <img src="{{ app.config.front_urlpath }}/img/article/article12_17(3).jpg" alt="ancharme">


              <a href="https://ancharme.jp/products/detail/75" onclick="gtag('event', 'click', {'event_category': 'article_75','event_label': 'article'});">
                <img src="{{ app.config.front_urlpath }}/img/article/article12_17(4).jpg" alt="ancharme">
              </a>


                <img src="{{ app.config.front_urlpath }}/img/article/article12_17(5).jpg" alt="ancharme">


              <a href="https://ancharme.jp/products/detail/81" onclick="gtag('event', 'click', {'event_category': 'article_81','event_label': 'article'});">
                <img src="{{ app.config.front_urlpath }}/img/article/article12_17(6).jpg" alt="ancharme">
              </a>


                <img src="{{ app.config.front_urlpath }}/img/article/article12_17(7).jpg" alt="ancharme">


            <a href="https://ancharme.jp/products/detail/87">
                <img src="{{ app.config.front_urlpath }}/img/article/article12_17(8).jpg" alt="ancharme">
            </a>

            <img src="{{ app.config.front_urlpath }}/img/article/article12_17(9).jpg" alt="ancharme">


            <a href="https://ancharme.jp/products/detail/106" onclick="gtag('event', 'click', {'event_category': 'article_106','event_label': 'article'});">
                <img src="{{ app.config.front_urlpath }}/img/article/article12_17(10).jpg" alt="ancharme">
            </a>


            <img src="{{ app.config.front_urlpath }}/img/article/article12_17(11).jpg" alt="ancharme">


            <a href="https://ancharme.jp/products/detail/106">
                <img src="{{ app.config.front_urlpath }}/img/article/article12_17(12).jpg" alt="ancharme">
            </a>
        </div>
        
    
          </div>
    </div>
        </div>
        <!-- ▲topicpath▲ -->
    {% endblock %}